/* .MainBody{
    margin-right: 5%;
} */
.subtitle {
        font-size: 25px;
        margin: 5px;
        font-weight: 800;
}

.subIcon {
    font-size: 25px;
}

.copyright{
    text-align: center;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 2vmin;
}

.view {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 22%);
    grid-gap: 5px 5px;
    justify-content: space-evenly;
    padding: 10px 30px 10px 0px;
}

.TotalMoney{
    background: rgb(252, 215, 10);
}

.Revenue{
    background: rgb(202, 38, 120);
}

.Investment{
    background: rgb(11, 11, 49);
}

.Balance{
    background: rgb(64, 12, 133);
}

.todo-list{
    background-color: white;
    margin: 2%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #dfdede;
    border-radius: 1%;
    box-shadow: 
        /* Top layer */
        0 1px 1px rgba(0,0,0,30),
        /* Top layer shadow */
        0 10px 0 -5px rgb(139, 139, 139),
        /* second layer */
        0 10px 1px -4px rgba(0,0,0,30),
        /* Second layer shadow*/
        0 20px 0 -10px rgb(90, 90, 90),
        /* Second layer shadow */
        0 20px 1px -9px rgba(0,0,0,30);
    padding: 30px;
}