.subtitle {
        font-size: 25px;
        margin: 5px;
        font-weight: 800;
}

.subIcon {
    font-size: 25px;
}

.copyright{
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 2vmin;
}

.view {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 22%);
    grid-gap: 5px 5px;
    justify-content: space-evenly;
    padding: 10px 30px 10px 0px;
}

.TotalMoney{
    background: rgb(252, 215, 10);
}

.Revenue{
    background: rgb(202, 38, 120);
}

.Investment{
    background: rgb(11, 11, 49);
}

.Balance{
    background: rgb(64, 12, 133);
}